@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap");

body {
  background-image: url('https://media.npr.org/assets/img/2021/10/25/gettyimages-52286419_custom-0dfd34b1ff37d3a16f63d7e027c1b52385b21485-s1100-c50.jpg');
  
}
  
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  font-family: 'Oswald', sans-serif;
}

h4 {
  text-align: center;
  color: white;
  background-color: #093f2b;
  font-family: 'Oswald', sans-serif;
}
h2 {
  text-align: center;
  color: white;
  background-color: #093f2b;
  font-family: 'Oswald', sans-serif;
}
h1 {
  text-align: center;
  color: white;
}

h3,
label,
p {
  background-color: #fff;
}


.card {
  margin-top: 1rem;
  background-color:#04AA6d;
}

.card-text{background-color:#04AA6d;
  color: white;
}
.form-label{background-color:rgb(167, 167, 167)
}


.btn{
  background-color: #04AA6D;
  font-family: 'Oswald', sans-serif;
}
.card-body{background-color:rgb(167, 167, 167)}

.maintxt {
  position: relative;
}
.maintxt > img,

.img {
  width: 460px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white
}

.img-shoe{
  text-align: center;
  width: 300px;
}

a {
  color: white;
  text-align: center;}
